DATA_SOURCE_NAME="host=db user=root password=password dbname=todo port=5432 sslmode=disable TimeZone=Asia/Tokyo" # postresqlへの接続用
SESSION_KEY="febce7f3f1ce1cb814977f1a90f8c746d5e3d506af38c7d4db5a090558af25a9" # session構築のための認証キー https://pkg.go.dev/github.com/gin-contrib/sessions@v0.0.5/cookie#NewStore